@import "../../../../styles";

.tmt-toolbox-container {
  display: flex;
  flex-direction: row;

  .tmt-toolbox-item {
    background-color: $grey-dark;
    border-radius: 5px;
    padding: 5px;
    min-width: 19px;

    a {
      margin-left: 1px;
      cursor: pointer;
    }
  }
}