<header>
  <div class="tmt-main-container">
    <div class="tmt-main-container-item">
      <a class="tmt-logo">
        <img src="assets/img/tmt-logo.png">
      </a>
    </div>
    <div class="tmt-main-container-item tmt-right">
      <div class="tmt-account-container">
        <div class="tmt-account-container-item">
          <a class="tmt-account-tool" href="/auth/login">
            <fa-icon [icon]="faSignInAlt"></fa-icon>
            <span>sign in</span>
          </a>
          <a class="tmt-account-tool" href="/auth/register">
            <fa-icon [icon]="faUserPlus"></fa-icon>
            <span>sign up</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <nav class="tmt-navbar">
    <div class="tmt-main-container">
      <a class="tmt-main-container-item">Feed</a>
      <a class="tmt-main-container-item">Write</a>
    </div>
  </nav>
</header>
