@import "../../styles";

header {
  background-color: $grey-dark;
  border-bottom: 3px solid $red-blood;
  color: $blue-sky;

  .tmt-main-container {
    padding-top: 10px;
    background-color: $grey-dark;
    justify-content: space-between;

    .tmt-main-container-item {
      padding: 0 0 0 10px;
      display: flex;
      flex-direction: column-reverse;
    }

    .tmt-logo {
      color: $red-blood;
      font-size: 2.0em;
      font-style: italic;
      font-weight: bold;

      img {
        width: 300px;
      }
    }

    .tmt-account-container {
      .tmt-account-container-item {
        display: flex;
        padding: 10px 10px;
        max-width: 100px;

        :hover {
          color: $red-blood;
        }

        .tmt-account-tool {
          padding-left: 10px;
          display: flex;
          flex-direction: column;
          align-content: center;
          text-align: center;

          span {
            font-size: x-small;
          }
        }
      }
    }
  }

  .tmt-navbar {
    border-top: solid 1px $grey-gloomy;

    .tmt-main-container {
      justify-content: flex-start;
    }
  }
}
