<div class="tmt-login-container">
  <!--div class="tmt-form-container">
    <form class="tmt-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="tmt-form-title">Login to TooManyThoughts</div>
      <div class="tmt-form-separator">&nbsp;</div>
      <div class="tmt-form-property">
        <div class="tmt-form-property-item tmt-txt-right">
          <label>Username:</label>
        </div>
        <div class="tmt-form-property-item tmt-txt-left">
          <input type="text" formControlName="username" required>
        </div>
      </div>
      <div class="tmt-form-property">
        <div class="tmt-form-property-item tmt-txt-right">
          <label>Password:</label>
        </div>
        <div class="tmt-form-property-item tmt-txt-left">
          <input type="password" formControlName="password" required>
        </div>
      </div>
      <div class="tmt-form-separator">&nbsp;</div>
      <div class="tmt-form-button-container">
        <div class="tmt-form-button tmt-txt-right">
          <button type="submit" [disabled]="!loginForm.valid">Login</button>
        </div>
        <div class="tmt-form-button tmt-txt-left">
          <button type="button">Cancel</button>
        </div>
      </div>
      <div class="tmt-form-xtra-container">
        <div class="tmt-form-xtra-item tmt-txt-right">
          <a href="/auth/forgotten">Forgot Password?</a>
        </div>
        <div class="tmt-form-xtra-item tmt-txt-left">
          <a href="/auth/register">Register</a>
        </div>
      </div>
    </form>
  </div-->
</div>