<div class="tmt-form-container">
  <form class="tmt-form" [formGroup]="formConfig.form" (ngSubmit)="onSubmit()">
    <div class="tmt-form-title" [innerHTML]="formName + '.form.caption' | translate"></div>
    <div class="tmt-form-group"
         *ngFor="let group of formConfig.groups; let i = index">
      <div class="tmt-form-separator"></div>
      <div class="tmt-form-separator tmt-form-group-separator">
        <span [innerHTML]="formName + '.form.group.caption.' + group.getParameter('name') | translate"></span>
      </div>
      <tmt-form-group [formName]="formName"
                      [groupName]="group.getParameter('name')"
                      [groupConfig]="group"></tmt-form-group>
    </div>
    <div class="tmt-form-xtra-container" *ngIf="formConfig.errorMessage">
      <div class="tmt-form-error-msg">
        <span [innerHTML]="'form.error.message.' + formName + '.' + formConfig.errorMessage.msgId | translate: {
          properties: formConfig.errorMessage.properties
        }"></span>
      </div>
    </div>
    <div class="tmt-form-xtra-container">
      <div class="tmt-form-button tmt-txt-right">
        <button type="submit"
                [disabled]="!formConfig.form.valid"
                [innerHTML]="formName + '.form.button.submit' | translate"></button>
      </div>
      <div class="tmt-form-button tmt-txt-left">
        <button type="button"
                (click)="cancel()"
                [innerHTML]="formName + '.form.button.cancel' | translate"></button>
      </div>
    </div>
  </form>
</div>