@import "../../../../../styles";

.tmt-header {
  display: flex;
  flex-direction: row;
  font-size: small;
  color: $blue-sky;
  padding: 0 20px;

  .tmt-owner {
    flex-grow: 2;

    a {
      span {
        padding-left: 5px;
      }
    }
  }

  .tmt-date {
    flex-grow: 0;
  }
}

.tmt-header-segment {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-bottom: 1px solid $grey-gloomy;

  .tmt-title {
    flex-grow: 2;
    color: $grey-neutral;
    text-align: center;
    font-size: x-large;
    font-weight: bold;

    input {
      width: 90%;
      padding: 0 20px;
    }
  }

  .tmt-edit {
    flex-grow: 0;
  }
}