<div class="tmt-header-segment">
  <div class="tmt-title" #titleSegment>
    <h1 *ngIf="!edit.title" [innerHTML]="title.value"></h1>
    <input type="text"
           id="title"
           *ngIf="edit.title"
           (focus)="handleTitleFocus()"
           [formControl]="title" autofocus>
  </div>
  <div class="tmt-edit">
    <button type="button"
            (click)="toggleEdit()"
            #editTitleButton>
      <fa-icon *ngIf="!edit.title"
               [icon]="faPen"></fa-icon>
      <fa-icon *ngIf="edit.title"
               (keyup)="handleKey($event)"
               [icon]="faCheck"></fa-icon>
    </button>
  </div>
</div>