@import "../../../../styles";

a.tmt-date-input {
  display: flex;
  width: 50%;
  min-height: 19px;
  padding-left: 5px;
  background-color: white;
  color: $grey-dark;
  vertical-align: middle;

  &.tmt-invalid {
    color: $red-blood !important;
    border: 1px solid $red-blood;
  }

  &:focus {
    background-color: $golden-yellow;
  }

  div {
    display: inline-flex;

    &.tmt-focus {
      color: $red-blood
    }

    &.tmt-placeholder {
      color: $grey-gloomy;
      font-size: smaller;
      font-style: italic;
    }
  }
}