<div class="tmt-form-xtra-container">
  <div *ngFor="let link of formConfig.links | keyvalue:designatedOrder"
       [className]="link.value.orientation === 'left' ? 'tmt-form-xtra-item tmt-txt-right' : 'tmt-form-xtra-item tmt-txt-left'">
    <a [href]="link.value.href"
       [tabindex]="link.value.order"
       [innerHtml]="formConfig.id + '.form.link.' + link.value.key | translate"></a>
  </div>
  <div *ngIf="formConfig.links.length === 0"
       class="tmt-form-separator">&nbsp;</div>
</div>