<div class="tmt-personal-data">
  <div class="tmt-form-separator"></div>
  <div class="tmt-form-separator tmt-form-group-separator">
    <span [innerHTML]="'auth.register.form.group.caption.personalData' | translate"></span>
  </div>
  <div class="tmt-form-property">
    <div class="tmt-form-property-label">
      <tmt-form-control-label [controlName]="'title'"
                              [required]="true"
                              [translatePrefix]="'auth.register.form.control.'"></tmt-form-control-label>
    </div>
    <div class="tmt-form-property-control">
      <tmt-form-control-select [control]="personalData.controls.title"
                               [data]="dataOptions.title"
                               [index]="2"
                               [translatePrefix]="'auth.register.form.control.title.'"></tmt-form-control-select>
    </div>
  </div>
  <div class="tmt-form-property">
    <div class="tmt-form-property-label">
      <tmt-form-control-label [controlName]="'firstName'"
                              [required]="true"
                              [translatePrefix]="'auth.register.form.control.'"></tmt-form-control-label>
    </div>
    <div class="tmt-form-property-control">
      <tmt-form-control-input [type]="'text'"
                              [control]="personalData.controls.firstName"
                              [index]="3"></tmt-form-control-input>
    </div>
  </div>
  <div class="tmt-form-property">
    <div class="tmt-form-property-label">
      <tmt-form-control-label [controlName]="'middleName'"
                              [required]="false"
                              [translatePrefix]="'auth.register.form.control.'"></tmt-form-control-label>
    </div>
    <div class="tmt-form-property-control">
      <tmt-form-control-input [type]="'text'"
                              [control]="personalData.controls.middleName"
                              [index]="4"></tmt-form-control-input>
    </div>
  </div>
  <div class="tmt-form-property">
    <div class="tmt-form-property-label">
      <tmt-form-control-label [controlName]="'lastName'"
                              [required]="true"
                              [translatePrefix]="'auth.register.form.control.'"></tmt-form-control-label>
    </div>
    <div class="tmt-form-property-control">
      <tmt-form-control-input [type]="'text'"
                              [control]="personalData.controls.lastName"
                              [index]="5"></tmt-form-control-input>
    </div>
  </div>
  <div class="tmt-form-property">
    <div class="tmt-form-property-label">
      <tmt-form-control-label [controlName]="'dayOfBirth'"
                              [required]="true"
                              [translatePrefix]="'auth.register.form.control.'"></tmt-form-control-label>
    </div>
    <div class="tmt-form-property-control">
      <tmt-form-control-date [control]="personalData.controls.dayOfBirth"
                             [index]="6"></tmt-form-control-date>
    </div>
  </div>
  <div class="tmt-form-property">
    <div class="tmt-form-property-label">
      <tmt-form-control-label [controlName]="'sex'"
                              [required]="true"
                              [translatePrefix]="'auth.register.form.control.'"></tmt-form-control-label>
    </div>
    <div class="tmt-form-property-control">
      <tmt-form-control-select [control]="personalData.controls.sex"
                               [data]="dataOptions.sex"
                               [index]="7"
                               [translatePrefix]="'auth.register.form.control.sex.'"></tmt-form-control-select>
    </div>
</div>