<div class="tmt-content-container">
  <div class="tmt-row">
    <div class="tmt-toolbox-container">
      <div *ngFor="let type of adminState.contentTypes; let i = index"
           [ngClass]="{'tmt-toolbox-item': true,
                       'tmt-selected': adminState.selectedType === type,
                       'tmt-border-left': i > 0 }">
        <a (click)="selectType(i)">
          <fa-icon *ngIf="type === 'article'"
                   [icon]="faNewspaper"></fa-icon>
          <fa-icon *ngIf="type === 'video'"
                   [icon]="faVideo"></fa-icon>
          <fa-icon *ngIf="type === 'podcast'"
                   [icon]="faPodcast"></fa-icon>
        </a>
      </div>
    </div>
    <div class="tmt-caption">
      <span [innerHTML]="'content.type.caption.' + adminState.selectedType | translate"></span>
    </div>
  </div>
  <div class="tmt-row">
    <tmt-content-filter></tmt-content-filter>
  </div>
</div>
