<div class="tmt-container">
  <div (click)="createContent()"
       class="tmt-new-content">
    <div class="tmt-icon">
      <fa-icon [icon]="faPlus"></fa-icon>
    </div>
    <div class="tmt-caption">
      <span [innerHTML]="'content.type.new.' + filterConfig.contentType | translate"></span>
    </div>
  </div>
  <div class="tmt-filter">
    <div class="tmt-filter-container">
      <div *ngFor="let filter of filterConfig.contentFilters; let i = index"
           [ngClass]="{'tmt-filter-item': true,
                       'tmt-selected': filterConfig.selectedFilter === filter,
                       'tmt-border-left': i > 0}">
        <a (click)="selectFilter(i)">
          <span [innerHTML]="'content.filter.' + filter | translate"></span>
        </a>
      </div>
    </div>
    <tmt-searchbox [filterConfig]="filterConfig"></tmt-searchbox>
  </div>
</div>