@import "../../../../../styles";

.tmt-validation-msg-container {
  font-size: x-small;
  font-style: italic;
  padding-left: 5px;

  .tmt-msg-severe {
    color: $red-blood;
  }

  .tmt-msg-major {
    color: $golden-yellow;
  }

  .tmt-msg-minor {
    color: $blue-sky;
  }
}