<!-- day of date -->
<div class="tmt-validation-msg-container"
     *ngIf="control.errors &&
            control.errors.dateDay &&
            control.errors.dateDay.active === true">
  <div class="tmt-msg tmt-msg-severe">
    <span [innerHTML]="formName + '.form.uiControl.' + controlName | translate"></span>
    <span [innerHTML]="'form.validation.message.field.dateDay' | translate"></span>
  </div>
</div>
<!-- month of date -->
<div class="tmt-validation-msg-container"
     *ngIf="control.errors &&
            control.errors.dateMonth &&
            control.errors.dateMonth.active === true">
  <div class="tmt-msg tmt-msg-severe">
    <span [innerHTML]="formName + '.form.uiControl.' + controlName | translate"></span>
    <span [innerHTML]="'form.validation.message.field.dateMonth' | translate"></span>
  </div>
</div>
<!-- maximum age of date -->
<div class="tmt-validation-msg-container"
     *ngIf="control.errors &&
            control.errors.dateMaxPast &&
            control.errors.dateMaxPast.active === true">
  <div class="tmt-msg tmt-msg-severe">
    <span [innerHTML]="formName + '.form.uiControl.' + controlName | translate"></span>
    <span [innerHTML]="'form.validation.message.field.dateMaxPast' | translate:
                  { number: control.errors.dateMaxPast.dateMaxPast.amount,
                         unit: control.errors.dateMaxPast.dateMaxPast.unit}"></span>
  </div>
</div>
<!-- minimum age of date -->
<div class="tmt-validation-msg-container"
     *ngIf="control.errors &&
            control.errors.dateMinPast &&
            control.errors.dateMinPast.active === true">
  <div class="tmt-msg tmt-msg-severe">
    <span [innerHTML]="formName + '.form.uiControl.' + controlName | translate"></span>
    <span [innerHTML]="'form.validation.message.field.dateMinPast' | translate:
                  { number: control.errors.dateMinPast.dateMinPast.amount,
                         unit: control.errors.dateMinPast.dateMinPast.unit}"></span>
  </div>
</div>
<!-- no future date -->
<div class="tmt-validation-msg-container"
     *ngIf="control.errors &&
            control.errors.dateFuture &&
            control.errors.dateFuture.active === true">
  <div class="tmt-msg tmt-msg-severe">
    <span [innerHTML]="formName + '.form.uiControl.' + controlName | translate"></span>
    <span [innerHTML]="'form.validation.message.field.dateFuture' | translate"></span>
  </div>
</div>
<!-- valid email -->
<div class="tmt-validation-msg-container"
     *ngIf="control.errors &&
            control.errors.email &&
            control.errors.email.active === true">
  <div class="tmt-msg tmt-msg-severe">
    <span [innerHTML]="formName + '.form.uiControl.' + controlName | translate"></span>
    <span [innerHTML]="'form.validation.message.field.email' | translate"></span>
  </div>
</div>
<!-- confirm email -->
<div class="tmt-validation-msg-container"
     *ngIf="control.errors &&
            control.errors.equalEmail &&
            control.errors.equalEmail.active === true">
  <div class="tmt-msg tmt-msg-severe">
    <span [innerHTML]="formName + '.form.uiControl.' + controlName | translate"></span>
    <span [innerHTML]="'form.validation.message.field.equalEmail' | translate"></span>
  </div>
</div>
<!-- valid password -->
<div class="tmt-validation-msg-container"
     *ngIf="control.errors &&
            control.errors.password &&
            control.errors.password.active === true">
  <div class="tmt-msg tmt-msg-severe">
    <span [innerHTML]="formName + '.form.uiControl.' + controlName | translate"></span>
    <span [innerHTML]="'form.validation.message.field.password' | translate"></span>
  </div>
</div>
<!-- confirm password -->
<div class="tmt-validation-msg-container"
     *ngIf="control.errors &&
            control.errors.equalPassword &&
            control.errors.equalPassword.active === true">
  <div class="tmt-msg tmt-msg-severe">
    <span [innerHTML]="formName + '.form.uiControl.' + controlName | translate"></span>
    <span [innerHTML]="'form.validation.message.field.equalPassword' | translate"></span>
  </div>
</div>
<!-- max length -->
<div class="tmt-validation-msg-container"
     *ngIf="control.errors &&
            control.errors.maxLength &&
            control.errors.maxLength.active === true">
  <div class="tmt-msg tmt-msg-severe">
    <span [innerHTML]="formName + '.form.uiControl.' + controlName | translate"></span>
    <span [innerHTML]="'form.validation.message.field.maxLength' | translate:
                  { number: control.errors.maxLength.maxLength }"></span>
  </div>
</div>
<!-- min length -->
<div class="tmt-validation-msg-container"
     *ngIf="control.errors &&
            control.errors.minLength &&
            control.errors.minLength.active === true">
  <div class="tmt-msg tmt-msg-severe">
    <span [innerHTML]="formName + '.form.uiControl.' + controlName | translate"></span>
    <span [innerHTML]="'form.validation.message.field.minLength' | translate:
                  { number: control.errors.minLength.minLength }"></span>
  </div>
</div>
<!-- lowercase -->
<div class="tmt-validation-msg-container"
     *ngIf="control.errors &&
            control.errors.lowercase &&
            control.errors.lowercase.active === true">
  <div class="tmt-msg tmt-msg-severe">
    <span [innerHTML]="formName + '.form.uiControl.' + controlName | translate"></span>
    <span [innerHTML]="'form.validation.message.field.lowercase' | translate"></span>
  </div>
</div>
<!-- uppercase -->
<div class="tmt-validation-msg-container"
     *ngIf="control.errors &&
            control.errors.uppercase &&
            control.errors.uppercase.active === true">
  <div class="tmt-msg tmt-msg-severe">
    <span [innerHTML]="formName + '.form.uiControl.' + controlName | translate"></span>
    <span [innerHTML]="'form.validation.message.field.uppercase' | translate"></span>
  </div>
</div>
<!-- numeric -->
<div class="tmt-validation-msg-container"
     *ngIf="control.errors &&
            control.errors.numeric &&
            control.errors.numeric.active === true">
  <div class="tmt-msg tmt-msg-severe">
    <span [innerHTML]="formName + '.form.uiControl.' + controlName | translate"></span>
    <span [innerHTML]="'form.validation.message.field.numeric' | translate"></span>
  </div>
</div>
<!-- special character -->
<div class="tmt-validation-msg-container"
     *ngIf="control.errors &&
            control.errors.specialCharacter &&
            control.errors.specialCharacter.active === true">
  <div class="tmt-msg tmt-msg-severe">
    <span [innerHTML]="formName + '.form.uiControl.' + controlName | translate"></span>
    <span [innerHTML]="'form.validation.message.field.specialCharacter' | translate"></span>
  </div>
</div>
<!-- required -->
<div class="tmt-validation-msg-container"
     *ngIf="control.errors &&
            control.errors.required &&
            control.errors.required.active === true">
  <div class="tmt-msg tmt-msg-severe">
    <span [innerHTML]="formName + '.form.uiControl.' + controlName | translate"></span>
    <span [innerHTML]="'form.validation.message.field.required' | translate"></span>
  </div>
</div>
<!-- unique -->
<div class="tmt-validation-msg-container"
     *ngIf="control.errors &&
            control.errors.unique &&
            control.errors.unique.active === true">
  <div class="tmt-msg tmt-msg-severe">
    <span [innerHTML]="formName + '.form.uiControl.' + controlName | translate"></span>
    <span [innerHTML]="'form.validation.message.field.unique' | translate"></span>
  </div>
</div>