$blue-sky: #a4b2c0;
$golden-orange: #ffcf84;
$golden-yellow: #fff8ad;
$red-blood: #971114;

$grey-bright: #f2f2f2;
$grey-gloomy: #e2e2e2;
$grey-neutral: #666666;
$grey-dark: #282828;
$grey-darkest: #000000;