<div *ngFor="let control of groupConfig.controls">
  <div class="tmt-form-property">
    <div class="tmt-form-property-label">
      <tmt-form-control-label [controlName]="control.getParameter('name')"
                              [required]="control.getParameter('required')"
                              [translatePrefix]="formName + '.form.uiControl.'"></tmt-form-control-label>
    </div>
    <div class="tmt-form-property-control">
      <tmt-form-control-input *ngIf="control.getParameter('type').startsWith('input')"
                              [type]="control.getParameter('type')"
                              [control]="control.control"
                              [formName]="formName"
                              [controlName]="control.getParameter('name')"
                              [index]="control.getParameter('index')"></tmt-form-control-input>
      <tmt-form-control-select *ngIf="control.getParameter('type') === 'select'"
                               [control]="control.control"
                               [data]="control.getParameter('data')"
                               [index]="control.getParameter('index')"
                               [translatePrefix]="formName + '.form.uiControl.' + control.getParameter('name')"></tmt-form-control-select>
      <tmt-form-control-date *ngIf="control.getParameter('type') === 'date'"
                             [control]="control.control"
                             [index]="control.getParameter('index')"></tmt-form-control-date>
      <tmt-form-control-error-msg *ngIf="control.control.touched"
                                  [control]="control.control"
                                  [config]="control"
                                  [controlName]="control.getParameter('name')"
                                  [formName]="formName"></tmt-form-control-error-msg>
    </div>
  </div>
</div>

