<input *ngIf="controlConfig.type === 'autocomplete'"
       [type]="controlConfig.type"
       [formControl]="control"
       [className]="controlConfig.shouldValidate() && control.errors != null ? 'tmt-invalid' : ''"
       [tabindex]="controlConfig.tabIndex"
       (keyup)="handleKeyEvent($event)"
       #focusElement>
<ul *ngIf="controlConfig.type === 'autocomplete'"
    [className]="controlConfig['data'].options.length > 0 ? 'tmt-display-block' : 'tmt-display-none'">
  <li *ngFor="let option of controlConfig['data'].options; let i = index"
      [className]="controlConfig['selection']['index'] == i ? 'tmt-selected' : ''"
      (mouseover)="handleMouseEvent($event, i)"
      (click)="handleMouseEvent($event, i)">
    <span *ngIf="option.value.before">{{ option.value.before }}</span>
    <span *ngIf="option.value.highlight" class="tmt-highlight">{{ option.value.highlight }}</span>
    <span *ngIf="option.value.after">{{ option.value.after }}</span>
  </li>
</ul>
<tmt-validation-msg [form]="form"
                    [formConfig]="formConfig"
                    [controlConfig]="controlConfig"
                    [control]="control"></tmt-validation-msg>