<div class="tmt-container">
  <div (click)="createContent()"
       class="tmt-new-content">
    <div class="tmt-icon">
      <fa-icon [icon]="faPlus"></fa-icon>
    </div>
    <div class="tmt-caption">
      <span [innerHTML]="'content.type.new.' + contentType | translate"></span>
    </div>
  </div>
  <div class="tmt-filter">
    <div class="tmt-filter-container">
      <div *ngFor="let filter of filterState.contentFilters; let i = index"
           [ngClass]="{'tmt-filter-item': true,
                       'tmt-selected': filterState.selectedFilter === filter,
                       'tmt-border-left': i > 0}">
        <a (click)="selectContentFilter(i)">
          <span [innerHTML]="'content.filter.' + filter | translate"></span>
        </a>
      </div>
    </div>
    <tmt-searchbox [filterConfig]="filterState"></tmt-searchbox>
  </div>
</div>