<div class="tmt-credentials">
  <div class="tmt-form-separator"></div>
  <div class="tmt-form-separator tmt-form-group-separator">
    <span [innerHTML]="'auth.register.form.group.caption.credentials' | translate"></span>
  </div>
  <div class="tmt-form-property">
    <div class="tmt-form-property-label">
      <tmt-form-control-label [controlName]="'firstName'"
                              [required]="true"
                              [translatePrefix]="'auth.register.form.control.'"></tmt-form-control-label>
    </div>
    <div class="tmt-form-property-control">
      <tmt-form-control-input [type]="'text'"
                              [control]="credentials.get('username')"
                              [index]="8"></tmt-form-control-input>
    </div>
  </div>
  <div class="tmt-form-property">
    <div class="tmt-form-property-label">
      <tmt-form-control-label [controlName]="'password'"
                              [required]="true"
                              [translatePrefix]="'auth.register.form.control.'"></tmt-form-control-label>
    </div>
    <div class="tmt-form-property-control">
      <tmt-form-control-input [type]="'password'"
                              [control]="credentials.get('password')"
                              [index]="9"></tmt-form-control-input>
    </div>
  </div>
  <div class="tmt-form-property">
    <div class="tmt-form-property-label">
      <tmt-form-control-label [controlName]="'passwordConfirm'"
                              [required]="true"
                              [translatePrefix]="'auth.register.form.control.'"></tmt-form-control-label>
    </div>
    <div class="tmt-form-property-control">
      <tmt-form-control-input [type]="'password'"
                              [control]="credentials.get('passwordConfirm')"
                              [index]="10"></tmt-form-control-input>
    </div>
  </div>
  <div class="tmt-form-property">
    <div class="tmt-form-property-label">
      <tmt-form-control-label [controlName]="'email'"
                              [required]="true"
                              [translatePrefix]="'auth.register.form.control.'"></tmt-form-control-label>
    </div>
    <div class="tmt-form-property-control">
      <tmt-form-control-input [type]="'email'"
                              [control]="credentials.get('email')"
                              [index]="11"></tmt-form-control-input>
    </div>
  </div>
  <div class="tmt-form-property">
    <div class="tmt-form-property-label">
      <tmt-form-control-label [controlName]="'emailConfirm'"
                              [required]="true"
                              [translatePrefix]="'auth.register.form.control.'"></tmt-form-control-label>
    </div>
    <div class="tmt-form-property-control">
      <tmt-form-control-input [type]="'email'"
                              [control]="credentials.get('emailConfirm')"
                              [index]="12"></tmt-form-control-input>
    </div>
  </div>
</div>