<div class="tmt-form-xtra-container">
  <div *ngFor="let button of formConfig.buttons | keyvalue:designatedOrder"
       [className]="button.value.orientation === 'left' ? 'tmt-form-button tmt-txt-right' : 'tmt-form-button tmt-txt-left'">
    <button *ngIf="button.value.validate"
            [type]="button.value.type"
            [disabled]="!form.valid"
            [tabindex]="button.value.order"
            [innerHtml]="form['config'].id + '.form.button.' + button.value.key | translate"></button>
    <button *ngIf="!button.value.validate"
            [type]="button.value.type"
            [tabindex]="button.value.order"
            [innerHtml]="form['config'].id + '.form.button.' + button.value.key | translate"></button>
  </div>
</div>