@import "../../../../../../styles";

input {
  min-width: 50%;
  padding: 0 2px;

  &.tmt-invalid {
    color: $red-blood !important;
    border: 1px solid $red-blood;
  }

  &:focus {
    background-color: $golden-yellow;
  }
}