<header>
  <div class="tmt-main-container">
    <div class="tmt-main-container-item">
      <a class="tmt-logo">
        <img src="assets/img/tmt-logo.png">
      </a>
    </div>
    <div class="tmt-main-container-item tmt-right">
      <div class="tmt-account-container">
        <div class="tmt-account-container-item"
             *ngIf="!isAuthenticated">
          <a class="tmt-account-tool"
             href="/auth/login"
             tabindex="-1">
            <fa-icon [icon]="faSignInAlt"></fa-icon>
            <span>sign in</span>
          </a>
          <a class="tmt-account-tool"
             href="/auth/register"
             tabIndex="-1">
            <fa-icon [icon]="faUserPlus"></fa-icon>
            <span>sign up</span>
          </a>
        </div>
        <div class="tmt-account-container-item tmt-user"
             *ngIf="isAuthenticated">
          <a class="tmt-account-tool tmt-user"
             tabindex="-1">
            <fa-icon [icon]="faUserCircle"></fa-icon>
            <span [innerHTML]="username"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <nav class="tmt-navbar">
    <div class="tmt-navbar-main">
      <tmt-header-hint></tmt-header-hint>
    </div>
    <div class="tmt-navbar-side"></div>
  </nav>
</header>
