<input *ngIf="controlConfig.type === 'autocomplete'"
       [type]="controlConfig.type"
       [formControl]="control"
       [className]="controlConfig.shouldValidate() && control.errors != null ? 'tmt-invalid' : ''"
       [tabindex]="controlConfig.tabIndex"
       (keyup)="fetchSelect($event)"
       #focusElement>
<ul *ngIf="controlConfig.type === 'autocomplete'"
    [className]="controlConfig['data'].options.length > 0 ? 'tmt-display-block' : 'tmt-display-none'">
  <li *ngFor="let option of controlConfig['data'].options; let i = index"
      [className]="controlConfig['selection']['current'] == i ? 'tmt-selected' : ''"
      (mouseover)="fetchSelect($event, i, control.value)"
      (click)="fetchSelect($event)">
    <span>{{ option.value }}</span>
  </li>
</ul>
<tmt-validation-msg [form]="form"
                    [formConfig]="formConfig"
                    [controlConfig]="controlConfig"
                    [control]="control"></tmt-validation-msg>