@import "../../../../../styles.scss";

input {
  min-width: 50%;
  padding: 0 2px;

  &.tmt-invalid {
    color: $red-blood !important;
    border: 1px solid $red-blood;
  }

  &:focus {
    background-color: $golden-yellow;
  }
}

ul {
  list-style-type: none;
  position: absolute;
  z-index: 1;
  margin-top: 5px;
  padding: 5px 0;
  background-color: $grey-dark;
  border-radius: 5px;

  li {
    padding: 0 5px;
    color: $blue-sky;

    &.tmt-selected {
      background-color: $grey-neutral;
      color: $blue-sky;
    }
  }
}