<div class="tmt-content-container">
  <div *ngIf="video" class="tmt-segment">
    <form id="videoForm" [formGroup]="videoFormConfig.form"></form>
    <tmt-video-header [header]="groups.header"
                      [formId]="'videoForm'"
                      [video]="video"></tmt-video-header>
    <tmt-video-player [video]="video"
                      [groups]="groups"></tmt-video-player>
    <tmt-video-metadata [metadata]="groups.metadata"
                        [formId]="'videoForm'"
                        [video]="video"></tmt-video-metadata>
  </div>
</div>