@import "../../../styles";

main {
  display: flex;

  .tmt-content-pane {
    background-color: $grey-bright;
    flex: 2;
    max-width: 960px;
    padding: 0.625rem;

    article {
      p {
        margin-bottom: 0.75rem;
      }

      header {
        display: flex;
        justify-content: space-between;

        div {
          display: flex;
          flex-direction: column;
          flex-grow: 2;
          justify-content: space-between;

          h1 {
            font-size: 1.875rem;
            font-weight: 500;
            line-height: 1.2;
            margin-bottom: 0.6rem;
          }

          p.tmt-info {
            color: $blue-sky;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            margin-bottom: 0.125rem;
          }
        }

        img {
          border-radius: 50%;
          filter: grayscale(50%);
          -webkit-filter: grayscale(50%);
          height: 100px;
          margin-bottom: 10px;
          margin-left: 0.75rem;
        }
      }

      section {
        margin-bottom: 0.75rem;

        a {
          color: $red-blood;
        }

        h2 {
          font-size: 1.125rem;
          font-weight: 600;
          margin-bottom: 0.75rem;
        }

        p.tmt-abstract {
          font-size: 1rem;
          font-weight: 600;
        }

        p {

        }
      }
    }
  }

  .tmt-content-sidebar {
    flex: 1;
  }
}
