@import "./styles/colors";
@import "./styles/variables";

* {
  border: 0 none;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  background-color: $grey-darkest;
  font-family: "Trebuchet MS", Verdana, sans-serif;

  //override user agent styles
  margin: 0;
}

a {
  color: $blue-sky;
  text-decoration: none;

  :hover {
    color: $red-blood;
  }
}

button {
  background-color: $grey-dark;
  padding: 5px;
  color: $blue-sky;

  :hover {
    color: $red-blood;
  }
}

.tmt-main-container {
  display: flex;
  justify-content: flex-start;
  max-width: 1080px;

  @media (min-width: $break-large) {
    margin: 0 auto;
  }
}