@import "./styles/colors";
@import "./styles/elements";
@import "./styles/variables";

.tmt-main-container {
  display: flex;
  justify-content: flex-start;
  max-width: 1080px;

  @media (min-width: $break-large) {
    margin: 0 auto;
  }
}

.tmt-txt-left {
  text-align: left;
}

.tmt-txt-right {
  text-align: right;
}

.tmt-txt-center {
  text-align: center;
}

.tmt-display-none {
  display: none;
}

.tmt-display-block {
  display: block;
}