@import "../../../styles";

.tmt-form-container {
  text-align: center;
  border: 1px solid $grey-dark;
  border-radius: 5px;
  vertical-align: middle;

  .tmt-form {
    display: inline-flex;
    flex-direction: column;
    width: 100%;

    .tmt-form-title {
      grid-area: title;
      background-color: $grey-dark;
      color: $blue-sky;
      text-align: center;
      padding: 5px 0;
    }

    .tmt-form-group {
      padding-top: 5px;

      .tmt-form-separator {
        min-height: 1em;
        font-size: small;
        color: $blue-sky;
        text-align: center;

        &.tmt-form-group-separator {
        }

        span {
          background: $grey-bright;
        }
      }

      .tmt-form-property {
        display: table;
        width: 100%;

        .tmt-form-property-label {
          display: table-cell;
          padding: 5px;
          width: 50%;
          text-align: right;

          label {
            .tmt-form-control-required {
              color: $red-blood;
            }

            color: $grey-dark;
          }
        }

        .tmt-form-property-control {
          display: table-cell;
          padding: 5px;
          width: 50%;
          text-align: left;

          input {
            min-width: 50%;
          }

          select {
            min-width: 25%;
          }

          ul {
            list-style-type: none;
            position: absolute;
            z-index: 1;
            margin-top: 5px;
            padding: 5px 0;
            background-color: $grey-dark;
            border-radius: 5px;

            li {
              padding: 0 5px;
              color: $blue-sky;

              &.tmt-selected {
                background-color: $grey-neutral;
                color: $blue-sky;
              }
            }
          }
        }
      }

    }

    .tmt-form-button-container {
      display: table;
      width: 100%;

      .tmt-form-button {
        display: table-cell;
        padding: 5px;
        width: 50%;

        button {
          padding: 5px 50px;
        }
      }
    }

    .tmt-form-xtra-container {
      display: table;
      width: 100%;

      .tmt-form-xtra-item {
        display: table-cell;
        padding: 5px;
        width: 50%;

        a {
          font-size: small;

          :focus {
            border: 1px solid $red-blood;
          }
        }
      }
    }
  }
}