@import "../../../styles";

.tmt-form-container {
  text-align: center;
  border: 1px solid $grey-dark;
  border-radius: 5px;
  vertical-align: middle;

  .tmt-form {
    display: inline-flex;
    flex-direction: column;
    width: 100%;

    .tmt-form-title {
      grid-area: title;
      background-color: $grey-dark;
      color: $blue-sky;
      text-align: center;
      padding: 5px 0;
    }

    .tmt-form-group {
      padding-top: 5px;

      .tmt-form-separator {
        min-height: 1em;
        font-size: small;
        color: $blue-sky;
        text-align: center;

        &.tmt-form-group-separator {
        }

        span {
          background: $grey-bright;
        }
      }

      .tmt-form-property {
        display: table;
        width: 100%;

        .tmt-form-property-label {
          display: table-cell;
          padding: 5px;
          width: 50%;
          text-align: right;
        }

        .tmt-form-property-control {
          display: table-cell;
          padding: 5px;
          width: 50%;
          text-align: left;
        }
      }
    }
  }
}